* { box-sizing: border-box;}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    padding-bottom: 50px;
}

.headerContainer {
    max-width: 900px;
    margin: 40px auto;
}

.container {
    display: flex;
    max-width: 900px;
    margin: auto;
}

/* Left Side */
.leftSide {
    flex: 1;
    margin-right: 40px;
}

.leftSide h1 {
    margin: 0;
    font-size: 40px;
    color: #3A4B5C;
}

.leftSide p {
    font-size: 16px;
    margin-bottom: 40px;
    color: #6A7D8B;
}

.leftSide input {
    width: 100%;
    border: 0;
    border-bottom: 2px solid rgba(150, 163, 171, .5);
    padding: 10px 2px;
    margin-bottom: 20px;
    font-size: 14px;
    outline: 0;
}

.leftSide input:disabled { opacity: .5;}

.leftSide button {
    background-color: #227C9D;
    color: #FFF;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    padding: 15px 0;
    width: 100%;
    cursor: pointer;
    margin-top: 40px;
    transition: all ease .3s;
}

.leftSide button:hover {
    opacity: .75;
}

.leftSide button:disabled { opacity: .5;}

/* Right Side */
.rightSide {
    flex: 1;
    margin-left: 40px;
    display: flex;
}

.rightSide .grid {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.rightSide .rightBig {
    flex: 1;
    display: flex;
}

.rightSide .rightArrow {
    position: absolute;
    background-color: #227C9D;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: -35px;
    margin-top: 145px;
    transition: all ease .3s;
}

.rightSide .rightArrow:hover {
    background-color: #41a8ce
}

/* Responsividade */

@media (max-width: 940px) {
    header {
        padding: 0 25px;
    }

    .container {
        padding: 0 20px;
        flex-direction: column;
    }

    .container .leftSide {
        margin-right: 0;
    }

    .container .rightSide {
        margin-left: 0;
        margin-top: 50px;
    }

    .rightSide .rightArrow {
        margin-left: 0;
        margin-top: 0;
        border-radius: 10px;
    }
}

@media (max-width: 464px) {
    .rightSide .grid {
        grid-template-columns: 1fr;
    }
}